NEW_API_BIND_HOST=127.0.0.1
NEW_API_PORT=3000
NEW_API_POSTGRES_USER=dn_tools_new_api
NEW_API_POSTGRES_PASSWORD=DN_TOOLS_CHANGE_ME_POSTGRES_PASSWORD
NEW_API_POSTGRES_DB=new_api
NEW_API_REDIS_PASSWORD=DN_TOOLS_CHANGE_ME_REDIS_PASSWORD
NEW_API_NODE_NAME=dn-tools-new-api-1
TZ=Asia/Shanghai
